<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 mb-3">
      <h1>Create Event</h1>
    </div>
    <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
      <%= form_with model: @event, local:true do |f| %>
        <%= f.label "Name" %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label "Date" %>
        <%= f.datetime_local_field :date, class: "form-control" %>

        <%= f.label "Description" %>
        <%= f.text_area :description, class: "form-control" %>
        <br>
        <%= f.submit "Create Event", class:"btn btn-success" %>
      <% end  %>
    </div>
  </div>
</div>
